
.reg-page {
    padding: 75px 0px;
    background: #f3f3f3;
}
.reg-page .info .title {
    font-family: 'Roboto Medium';
    font-size: 26px;
    color: #0f9cb1;
    margin-bottom: 20px;
}
.register{
    width: 350px;
    padding: 35px 25px;
    border: 1px solid #e6e6e6;
    background: #fff;
}
.register h3{
    font-size: 21px;
    color: #07adc6;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}


#form-register input{
     display: block;
     width: 100%;
     margin-top: 15px;
     line-height: normal;
     margin-bottom: 10px;
 }
#form-contact-mobile input{
    display: block;
    width: 100%;
    margin-top: 15px;
    line-height: normal;
    margin-bottom: 10px;
}
input[type='text'], input[type='password'], input[type='email']{
    padding: 10px 18px;
    border: 1px solid #dadada;
}
input[type='submit']{
    padding: 12px 0px;
    background: #f12a43;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-family: 'Roboto Medium';
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
}
#gender select{
    padding: 6px 10px;
    border: 1px solid #dedede;
    width: 100%;
}
#gender{
    display: block;
    line-height: normal;
    height: 40px;
    text-align: center;
}
#have-account{
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}
#have-account span {
    color: #a0a0a0;
}
.captcha_icon_refresh{
    position: relative;
    display: block;
}
.captcha_icon_refresh a {
    position: absolute;
    top: -46px;
    left: 175px;
}
.icon_refresh {
    width: 45px;
    height: 45px;
}
