body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #4fa327!important;
}
.box{
    width: 380px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    text-align: center;
}
.box h2 {
    font-size: 15px;
    color: red;
    text-transform: uppercase;
    font-weight: 500;
}
.box h1{
    font-size: 30px;
    color: red;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}
.box #btn_login{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box #btn_login:hover{
    background: #2ecc71;
}
.error{
    color: red;
}
#lost-pass{
    color: black;
}